# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.so

# Environments
.env
venv/
env/
.direnv/

# Django-specific files
*.log
*.pot
db.sqlite3
local_settings.py
media/
static/

# IDE-specific files
.idea/  # PyCharm
.vscode/ # VS Code
.DS_Store # macOS
Thumbs.db # Windows

# Test and coverage files
.coverage
.tox/
.eggs/

# Other temporary files
*.tmp
*.bak
*.swp